body {
  margin: 0;
  padding: 0;
  background: #c0c0c0;
}

main {
  width: 65rem;
  margin-left: 240px;
  margin-bottom: 60px;
}

aside {
  width: 200px;
  position: fixed;
  top: 20px;
  bottom: 0;
  padding: 8px;
  display: flex;
  flex-direction: column;
}

aside .tree-view {
  width: 100%;
  overflow-y: scroll;
}

h1 {
  margin: 12px 0;
}


h2 {
  margin-bottom: 12px;
}

h3 {
  font-size: 1.6rem;
}

h3,
h4 {
  padding-top: 20px;
  margin-top: 0;
  display: block;
  flex: 0 0 180px;
}

.component {
  display: flex;
  margin-top: 24px;
}

blockquote {
  margin: 0 0 20px;
  padding: 20px;
  background: #dfdfdf;
}

blockquote footer {
  margin: 12px 0 0 12px;
}

.example {
  margin: 16px 0;
  padding: 12px 24px;
  border-left: 1px solid #808080;
}

details {
  margin-top: 12px;
}

summary {
  user-select: none;
  cursor: pointer;
  display: inline;
}

details[open] summary {
  margin-bottom: 8px;
}

button.focused {
  outline: 1px dotted #000000;
  outline-offset: -4px;
}

button.active {
  box-shadow: inset -1px -1px #ffffff, inset 1px 1px #0a0a0a,
    inset -2px -2px #dfdfdf, inset 2px 2px #808080;
}